extends layout

block content
    .w3-container
        .w3-card-4
            header.w3-container.w3-grey
                block header
            .w3-container
                block body
            footer.w3-container.w3-grey
                address Musike
