doctype html
html
  head
    title Musike
    link(rel='stylesheet', href='/stylesheets/w3.css')
    link(rel='shortcut icon' href='images/favicon.ico' type='image/icon')
    script(src="/javascripts/jquery-3.4.0.min.js")
    script.
      var url = "!{url}"
    block scripts
  body
    block content
