extends ../layout

block content
    .w3-container(style="max-width: 600px; margin: auto; padding: 10px;")
        .w3-card-4
            header.w3-container.w3-grey
                center
                    h1 Musike
                        img(src="images/logo.png" alt="Logo" height="42")
            
            .w3-container
                if success!=""
                    center
                        div(class="w3-panel w3-green")
                            h3= success
                if error!=""
                    center
                        div(class="w3-panel w3-red")
                            h3= error
                center
                    h3 Login
                    form.w3-container(method="POST" action="/login")
                        label
                            b Email
                        input.w3-input.w3-border.w3-grey(name="email" type="email")
                        br
                        label
                            b Password
                        input.w3-input.w3-border.w3-grey(name="password" type="password")
                        br
                        a(href=url + "users/user" class="w3-button w3-grey") Register
                        span 
                        input.w3-button.w3-grey(type="submit" value="Login")
            br
            footer.w3-container.w3-grey
                address Musike
